.subscribe {
  background-image: url('/public/SubscribeButton.svg');
  background-repeat: no-repeat;
  width: 74px;
  height: 24px;
}

.subscribed {
  width: 74px;
  height: 24px;
  background-image: url('/public/SubscribedButton.svg');
}

.cancel {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('/public/Cancel.svg');
}
