.newsBar {
  display: flex;
  gap: 1rem;
}

.autoRollingNews {
  padding: 1rem;
  width: 461px;
  height: 49px;
  background: var(--color-off-white);
  border: 1px solid var(--color-gray-100);
}

.link:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 1rem;
  overflow: hidden;
}

.headline {
  display: flex;
  min-height: 1rem;
  gap: 1rem;
}

.rolling {
  transform: translateY(-100%);
  transition: transform 1s linear;
}
