.pressArticle {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  width: 100%;
  height: calc(100% - 40px);
  outline: 1px solid var(--color-gray-100);
}

.pressInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pressIcon {
  width: 53px;
  height: 20px;
}

.lastEditedTime {
  color: var(--color-gray-400);
}

.article {
  display: flex;
  gap: 2rem;
}

.mainArticle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thumbnail {
  width: 320px;
  height: 200px;
  border: 1px solid var(--color-gray-100);
}

.mainTitle {
  max-width: 320px;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.articleList li a {
  display: block;
  max-width: 530px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.caption {
  display: flex;
  color: var(--color-gray-200);
  padding-top: 1rem;
}
