.subscribeButton {
  background-image: url('/public/SubscribeButton.svg');
  background-repeat: no-repeat;
  width: 74px;
  height: 24px;
}

.subscribed {
  background-image: url('/public/SubscribedButton.svg');
}
